main-blx.bib
main.bcf
main.lof
main.lot
main.out
main.pdf
paper-rp-1/rp.tex
synopsis/main.out
synopsis/main.pdf
CHANGES
titleps.tex
titlesec.tex
appa.aux
contents.aux
cover.aux
*.aux
*.bbl
main.blg
main.log
main.run.xml
main.synctex.gz
main.toc
texput.log
